.auth {
  width: 100%;
  height: 800px;
}

/*CONTAINER*/

.container{
  width: 815px;
  height: 640px;
  margin: auto;
}

.con-exit{
  display: inline;
  font-family:'HelveticaNeueW01-Thin', 'HelveticaNeueW02-Thin', 'HelveticaNeueW10-35Thin', sans-serif;
  font-size: 56px;
  font-weight: 700;
}

.con-d-h{
  
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  font-size: 18px;
  font-weight: 400;
  vertical-align: baseline;
}

.con-1{
  margin-top: 80px;
  height: 75px;
  text-align: center;
}

.con-2{
  text-align: center;
  height: 50px;
}

.con-href{
  text-decoration: none; 
  color: #118cff;
}


/*Loginn - Registration*/

.log-reg{
  height: 300px;
  display: flex;
}

/*REGIST*/

.lr-regist{
  width: 335.625px;
  height: 300px;
}

.reg-el{
  width: 100%;
  padding-top: 20px;
  height: 50px;
  margin-top: 10px;
}

.reg-log{
  width: 100%;
  height: 60px;
  margin-top: 10px;
  padding-top: 10px;
}

.reg-info{
  width: 100%;
  height: 55px;
  margin-top: 10px;
}

.reg-buttom{
  width: 100%;
  height: 75px;
}

#type{
  width: 99%;
  height: 40px;
  border-width: 0px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  outline: none;
}

/*CHECKBOX / REGISTRATIOM*/

#checkbox{
  display: flex;
  font-size: 14px;
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
}

.checkbox{
  width: 14px;
  height: 14px; 
  margin: 0 auto;
}

.checkbox-href{
  text-decoration: none;
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  color: black;
  margin-left: 23.7px;
}

.checkbox-href:hover{
  color: #118cff;
}

/*BUTTON / REGISTRATION*/

.buttom{
  cursor: pointer;
  margin-top: 25px;
  border-radius: 20px;
  font-size: 17px;
  background-color: white;
  color: #118cff;
  border-color: #118cff;
  min-width: 150px;
  min-height: 38px;
  transition: all 0.6s ease;   /*плавно міняє колір*/
}

.buttom:hover{
  color: #fff;
  background-color: #118cff;
}



/*LINE*/

.lr-line{
  width: 143.75px;
  height: 300px;  
}

.lr-line-1{
  height: 300px;
  width: 1px;
  margin: auto;
  opacity: .8;
  background-color: #858f96;

}

/*LOGINN*/

.lr-log{
  width: 335.625px;
  height: 300px;
}

.but-contant{
  height: 27px;
  font-size: 17px;
  width: 100%;
  padding-top: 11px;
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  color: #fff;
  cursor: pointer;
}

.log-but-con2{
  margin-top: 20px;
}

#log-but{
  height: 30px;
}

/*GOOGLE*/

.log-but-con1{
  margin-top: 35px;
  cursor: pointer;
}


.log-but-google{
  min-width: 100%;
  max-height: 65px;
  display: flex;
  background-color: #118cff;
  padding: 0;  
  border-color:#118cff;
  cursor: pointer; 
}


.display-but-google{
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  height: 40px; 
  width: 45px;
}

.google-logo {
  height: 33px;
  width: 35px;
  background: url(../img/auth/google-logo.svg);
  background-size: cover;
}

/*FACEBOOK*/

.display-but-facebook{
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  height: 40px;
  width: 49px; 
  cursor: pointer;
}

.log-but-facebook{
  min-width: 100%;
  max-height: 65px;
  width: 45px;
  display: flex;
  background-color: rgb(59, 89, 152);
  padding: 0;  
  border-color:rgb(59, 89, 152); 
  cursor: pointer;
}

.facebook-logo {
  margin-left: 9px;
  height: 30px;
  width: 15px;
  background: url(../img/auth/facebook-logo.svg);
  background-size: cover;
}

/*APPLE*/

.display-but-apple{
  background-color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  height: 40px; 
  width: 49px; 
  border-right: 2px solid black;
  cursor: pointer;
}

.apple-logo {
  height: 30px;
  width: 25px;
  margin-left: 4px;
  background: url(../img/auth/apple-logo.svg);
  background-size: cover;
}

.log-but-apple{
  min-width: 100%;
  max-height: 65px;
  display: flex;
  background-color: #fff;
  padding: 0;  
  border-color: solid rgb(0, 0, 0);
  cursor: pointer; 
}

.but-contant-apple{
  height: 27px;
  font-size: 17px;
  width: 100%;
  padding-top: 11px;
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  color: rgb(0, 0, 0);
}

/*LOGIN HREF*/

.href-login{
  text-decoration: none; 
  color: #118cff;
}

.login-with{
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 25px;

}

/*INFO*/

.cont-info-1{
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  margin-top: 65px;
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  width: 100%;
  height: 75px;
}

.cont-info-1:after{
  content: "";
  display: block;
  border-radius: 30px;
  position:relative;
  top: 10px;
  left: 0;
  width: 40%;
  margin: 0 auto;
  height: 1px;
  background-color: #c7cdd3
}

.cont-info-2{
  margin-top: 20px;
  width: 100%;
  height: 60px;
}

.cont-info-2{
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-family:'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  width: 100%;
  height: 75px;
}    