.bages{
    width: 100%;
    height: 100em;
}

.href-title{
    text-decoration-line: none;
}

.fixed-title{
    width: 100%;
    height: 100px;
    background-color: black;
    position: fixed;  
    display: flex;  
}

/* TITLE 1 */

.title-1{
    width: 440px;
    height: 100px;
}

.thenorthpole{
    display: flex;
    padding-top: 28px;
    padding-left: 28px;
}

.the{
    font-size: 37px;
    font-weight: 400;
    color: rgb(162, 156, 156);
    font-family: 'dinneuzeitgroteskltw01-_812426', sans-serif;
    letter-spacing: -2px;
    cursor: pointer;
}

.northpole{
    font-size: 37px;
    font-weight: 400;
    color: #fff;
    font-family: 'dinneuzeitgroteskltw01-_812426', sans-serif;
    letter-spacing: -2px;
    cursor: pointer;
}

/* TITLE-2 */

.title-2{
    width: 100%;
    height: 100px;
    display: flex;
    margin-left: 920px;
}

.s-a-f-c{
    width: 286px;
    height: 80px;
    margin-top: 10px;
    display: flex;
    margin-top: 10px;

}

.search{
    width: 161px;
    height: 47px;
    background-color: darkslategrey;
    margin-left: 10px;
    margin-top: 26.5px;
}

.log-in{
    width: 123px;
    height: 40px;
    margin-top: 30px;
    background-color: lightyellow;
    margin-left: 10px;
}

.basket{
    width: 45px;
    margin-top: 40px;
    height: 20px;
    background-color: silver;
    margin-left: 10px;
}

.shop{
    font-size: 17px;
    font-weight: 400;
    color: rgb(162, 156, 156);
    font-family: 'dinneuzeitgroteskltw01-_812426', sans-serif;
    cursor: pointer;
    margin: auto;
    transition: all .4s;  
}

.shop:hover{
    color: #fff;
}

.forum{
    font-size: 17px;
    font-weight: 400;
    color: rgb(162, 156, 156);
    font-family: 'dinneuzeitgroteskltw01-_812426', sans-serif;
    cursor: pointer;
    margin: auto;
    transition: all .4s;
}

.forum:hover{
    color: #fff;
}

.contact{
    font-size: 17px;
    font-weight: 400;
    color: rgb(162, 156, 156);
    font-family: 'dinneuzeitgroteskltw01-_812426', sans-serif;
    cursor: pointer;
    margin: auto;
    transition: all .4s;
}

.contact:hover{
    color: #fff;
}

.about{
    font-size: 17px;
    font-weight: 400;
    color: rgb(162, 156, 156);
    font-family: 'dinneuzeitgroteskltw01-_812426', sans-serif;
    cursor: pointer;
    margin: auto;
    transition: all .4s;
}

.about:hover{
    color: #fff;
}