.footer {
  width: 100%;
  position: absolute;
  background-color: white;
  height: 500px;
  font-family: helveticaneuew10-65medi,helveticaneuew01-65medi,helveticaneuew02-65medi,sans-serif;
}

.footer_container {
  margin-top: 30px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 70px;
  width: 100%;
  justify-content: space-evenly;
}

.footer_discription {
  display: flex;

}

.footer_text-container {
  font-size: 14px;
  font-family: 'HelveticaNeueW01-45Ligh', 'HelveticaNeueW02-45Ligh', 'HelveticaNeueW10-45Ligh', sans-serif;
  width: 100%;
  height: 300px;
}

.add_margin{
  margin-left: 319px;
}
.add_margin2{
  margin-left: 5px;
}
.add_margin3{
  margin-right: 20px;
}

.footer_down {
  cursor: pointer;
  width: 150px;
  margin-top: 12px;
}

.post_border {
  width: 100%;
  height: 1px;
  background-color: grey;
  opacity: .3;
}

.footer_border {
  width: 80%;
  height: 1px;
  background-color: grey;
}

.footer_img-container {
  width: 100px;
  background-color: aquamarine;
  height: 100px;
  position: relative;
  top: -50px;
}

.footer_img {
  width: 100px;
  height: 100px;
  background-color: red;
  background-image: url(../img/footer/imgonline-com-ua-Resize-YBFO4R7iPX0UtW9i.jpg); 
  background-size: cover;
}