.header{
  z-index: auto;
  width: 100%;
}

.navbar_main-container{
  height: 78px;
  width: 100%;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
}

/* <---left_container--> */


.left_container {
  
  display: flex;
}

.logo_container {
  width: 100px;
  height: 40px;

  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
  margin: 22px 60px;
}

.navigarion_container {
  width: 540px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.menu_text {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.menu_text:hover {
  color: blue;
}
/* .navigarion_container:hover {
  color: rgb(0, 45, 248);
} */

/* <---rigth_container--> */

.rigth_container { 
  display: flex;
  width: 150px;
  margin-right: 50px;
  justify-content: space-around;
}

.icon_container {
  margin-top: 27px;
}

.navbar_button {
  margin-top: 20px;
}

.main_border-container{
  width: 100%;
  background-color: grey;
  height: 1px;
  opacity: .2;
}